<ion-modal-view>
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Home</h1>
    <button class="button button-clear icon ion-close" ng-click="closeHome()"></button>
  </ion-header-bar>
  
  <ion-content>
      <div class="row">
        <div class="col" nav-direction="swap" ui-sref="page.playlist" ng-click="closeHome()">
          <img src="img/podcasts.svg"/>
        </div>
        <div class="col" nav-direction="swap" ui-sref="page.featured" ng-click="closeHome()">
          <img src="img/featured.svg"/>
        </div>
      </div>
      <div class="row">
        <div class="col" nav-direction="swap" ui-sref="page.donations" ng-click="closeHome()">
          <img src="img/donations.svg"/>
        </div>
        <div class="col" nav-direction="swap" ui-sref="page.settings" ng-click="closeHome()">
          <img src="img/settings.svg"/>
        </div>
      </div>
  </ion-content>
</ion-modal-view>