<ion-view>
  <ion-nav-bar 
    class="bar-dark">
    <ion-nav-buttons side="left">
      <div ng-if="player.title">
        <div class="marquee button button-clear player-title" ui-sref="page.player">
          <span>{{ player.title }}</span>
        </div>
        <button ng-if="$state.current.name !== 'page.player'"
          class="button button-clear icon ion-chevron-right"
          ui-sref="page.player">
        </button>
      </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div  ng-if="player.title && $state.current.name === 'page.player'"> 
        <button class="button button-clear icon ion-arrow-down-a"></button>
        <button class="button button-clear icon ion-arrow-up-a"></button>
      </div>
    </ion-nav-buttons>  
  </ion-nav-bar>

  <ion-nav-view>
    <ion-spinner></ion-spinner>  
  </ion-nav-view>
  
  <ion-footer-bar class="bar-dark">
    <div class="videogular-container">
      <videogular vg-theme="config.theme">
        <vg-media class="audio" vg-src="config.sources">
        </vg-media>
        
        <vg-controls>
          <div class="vg-row">
            <button ng-click="openHome()" class="button button-clear icon ion-home"></button>
            <iofio-back>
              <button class="button button-clear icon-right ion-ios-rewind"></button>
            </iofio-back>
            <vg-play-pause-button></vg-play-pause-button>
            <iofio-forward>
              <button class="button button-clear icon-left ion-ios-fastforward"></button>
            </iofio-forward>
            <button class="button button-clear icon ion-search"></button>
          </div>
          <div class="vg-row">
            <vg-volume ng-if="$state.current.name === 'page.nowPlaying'">
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
          </div>
        </vg-controls>
  
      </videogular>
    </div>
  </ion-footer-bar>
</ion-view>