<ion-view view-title="Now Playing">
  <ion-content>

    <div class="row media-content">
    </div>
    
  </ion-content>
  
  <div class="row media-controls">
    <div class="col"></div>
    <div class="col">
      <button class="button button-large button-clear icon ion-skip-backward"></button>
    </div>
    <div class="col">
      <button class="button button-large button-clear icon ion-play"></button>
    </div>
    <div class="col">
      <button class="button button-large button-clear icon ion-skip-forward"></button>
    </div>
    <div class="col"></div>
  </div>

</ion-view>