<ion-view>
  <ion-content class="iofio-playlist">
    <div class="row">
      <div class="col">
        <h1>Subscribed</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        <img ng-src="{{podcast.image[0].url[0]}}">
      </div>
      <div class="col col-33">
        <img ng-src="{{podcast.image[0].url[0]}}">
      </div>
      <div class="col col-33">
        <img ng-src="{{podcast.image[0].url[0]}}">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        <img ng-src="{{podcast.image[0].url[0]}}">
      </div>
    </div>
  </ion-content>
</ion-view>