.bar {
  height: 50px;
  border-width: 0;
}
.bar.bar-footer {
  padding: 0;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 0;
  animation: marquee 15s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0%    { transform: translate(0,0); }
  20%   { transform: translate(0,0); }
  100%  { transform: translate(-100%,0); }
}

.iofio-player {
  background: linear-gradient(to bottom, #444444 0%,#444444 5%,#f0ece1 15%,#f0ece1 85%,#222222 95%,#222222 100%); 
}

.iofio-player .scroll,
.iofio-player .row {
  height: 100%;
}

.iofio-player .col {
  text-align: center;
}

.iofio-player img {
  width: 100%;
  max-width: 300px;
}

.iofio-playlist img {
  width: 100%;
}

.iofio-modal-grid, 
.iofio-modal-grid .scroll-content,
.iofio-modal-grid .scroll {
  height: 100%;
}

.iofio-row-50 {
  height: 50%;
}

.iofio-row-50 .col {
  height: 100%;
}

.iofio-grid-button {
  background: darkslategray;
  text-align: center;
  color: white;
  height: 100%;
}

.iofio-grid-button > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iofio-grid-button .iofio-grid-icon {
  height: 80%;
  font-size: 108px;
  font-weight: 800;
  padding-top: 48px;
}

.iofio-grid-button .iofio-grid-label {
  height: 20%;
  font-size: 28px;
  font-weight: 500;
  padding: 10px;
}

.player-title {
  font-weight: 500 !important;
}

.bar-translucent {
  opacity: .7;
}

ion-content {
  background: linear-gradient(135deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%);
}