.media-controls {
  text-align: center;
}

.media-controls a:first-child {
  text-align: right;
}

.media-controls a:last-child {
  text-align: left;
}

.iofio-modal-grid, 
.iofio-modal-grid .scroll-content,
.iofio-modal-grid .scroll {
  height: 100%;
}

.iofio-row-50 {
  height: 50%;
}

.iofio-row-50 .col {
  height: 100%;
}

.iofio-grid-button {
  background: darkslategray;
  text-align: center;
  color: white;
  height: 100%;
}

.iofio-grid-button > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iofio-grid-button .iofio-grid-icon {
  height: 80%;
  font-size: 108px;
  font-weight: 800;
  padding-top: 48px;
}

.iofio-grid-button .iofio-grid-label {
  height: 20%;
  font-size: 28px;
  font-weight: 500;
  padding: 10px;
}

.player-title {
  font-weight: 500 !important;
}

.bar-translucent {
  opacity: .7;
}

ion-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,558772+28,1d3342+100 */
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #b5bdc8 0%, #558772 28%, #1d3342 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b5bdc8), color-stop(28%,#558772), color-stop(100%,#1d3342)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%); /* IE10+ */
  background: linear-gradient(135deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#1d3342',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}