@font-face {
  src: url("fonts/Antenna-ExtraLight.otf");
  font-family: Antenna;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("fonts/Antenna-ExtraLightItalic.otf");
  font-family: Antenna;
  font-weight: normal;
  font-style: italic;
}
@font-face {
  src: url("fonts/Antenna-Medium.otf");
  font-family: Antenna;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("fonts/Antenna-MediumItalic.otf");
  font-family: Antenna;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  src: url("fonts/iofioicons.ttf");
  font-family: iofio;
}

body {
  font-family: Antenna !important;
}

h1, h2, h3 {
  font-family: Antenna;
  font-weight: bold;
}

.item{
  border-width: 0px;
}

.cardMar {
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
}

.cardHead {
  background: #444;
  background: -webkit-linear-gradient(#444, #222); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#444, #222); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#444, #222); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#444, #222); /* Standard syntax */
  color: white;
}

.cardCon {
  background: black;
  background: -webkit-linear-gradient(#222, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#222, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#222, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#222, black); /* Standard syntax */
  color: white;
  position: static;
}

.iofio-back:before,
.iofio-forward:before,
.iofio-scrubbk:before,
.iofio-scrubfwd:before,
.iofio-home:before,
.iofio-search:before,
.iofio-volume:before,
.iofio-pause:before,
.iofio-play:before
{
  font-family: iofio;
  font-size: 50px !important;
  line-height: 64px !important;
}

.iofio-back:before {
    content: "\0041";
}
.iofio-forward:before {
    content: "\0042";
}
.iofio-scrubbk:before {
    content: "\0043";
}
.iofio-scrubfwd:before {
    content: "\0044";
}
.iofio-home:before {
  content: "\0045";
}
.iofio-search:before {
  content: "\0046";
}
.iofio-volume:before {
    content: "\0047";
}
.iofio-pause:before {
    content: "\0048";
}
.iofio-play:before {
    content: "\0049";
}
.iofio-chevron-right:before {
  font-family: iofio;
  content: "\004a";
  font-size: 72px !important;
  line-height: 55px !important;
}

ion-view {
  background-color: rgb(22,0,13) !important;
}

ion-content, h1, h2, h3 {
  color: antiquewhite;
}

text {
  fill: antiquewhite;
}

.modal {
  background-color: rgba(22,22,22,0.9);  
}

.modal .bar-header {
  background-color: rgba(44,44,44,1);
}

.modal .title {
  font-size: 30px;
}

.bar {
  height: 50px;
  border-width: 0;
}
.bar.bar-footer {
  padding: 0;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 230px;
  margin: 0 auto;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 0;
  animation: marquee 15s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0%    { transform: translate(0,0); }
  20%   { transform: translate(0,0); }
  100%  { transform: translate(-100%,0); }
}

.iofio-donations .pie {
  width: 335px;
}

.iofio-donations .range {
  height: 30px;
}

.iofio-donations .podcast-name {
  width: 100px;
}

.iofio-donations .podcast-donation {
  width: 25px;
}

.iofio-gradient {
  background: linear-gradient(to bottom, rgba(68,68,68,1) 0%,rgba(68,68,68,1) 5%,rgba(68,68,68,0) 15%,rgba(34,34,34,0) 85%,rgba(34,34,34,1) 95%,rgba(34,34,34,1) 100%); 
}

.iofio-player .scroll,
.iofio-player .row {
  height: 100%;
}

.iofio-player .col {
  text-align: center;
}

.iofio-player img {
  width: 100%;
  max-width: 450px;
}

.iofio-playlist img {
  width: 100%;
}

.iofio-featured .focus {
  min-height: 200px;  
}

.iofio-featured .info {
  background-color: rgba(12,12,12,.9);
}

.iofio-featured .spacer {
  min-height: 50px;
}

.player-title {
  font-weight: 500 !important;
}

.bar-translucent {
  opacity: .7;
}

iofio-green {
  background: linear-gradient(135deg,  #b5bdc8 0%,#558772 28%,#1d3342 100%);
}

.row.horizontal-center {
  justify-content: center;
}

.row.vertical-center {
  align-items: center;
  align-content: center;
}

.home-menu .scroll {
  height: 95%;
}

.home-menu .home-container {
  height: 100%;
  align-items: center;
  align-content: center;
}

.bar-tall {
  height: 100px;
}

@media screen and (max-width: 360px) {
  .home-menu .home-menu-item {
    max-width: 128px;
  }
}

@media screen and (max-height: 400px) {
  .home-menu .home-menu-item {
    max-width: 128px;
  }
}